.result-search {
  position: fixed;
  top: 160px;
  left: 96px;
  width: 100%;
  padding: 0px;
  height: 170px;
  font-size: 14px;
  font-weight: 100;
}
.phone-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 96px;
  position: relative;
  margin-top: 160px;
}

.phone-item {
  border: 0.5px solid #000;
  text-align: center;
  width: 344px;
  height: 344px;
  margin: -16.5px 16 16 -16.5px;
}

.phone-item__container {
  width: 312px;
  height: 257px;
  display: inline-block;
  align-self: center;
}

img.phone-item__image {
  display: inline-block;
  align-self: center;
  max-width: 312px;
}

@media (max-width: 1024px) {
  .phone-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .phone-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .phone-grid {
    grid-template-columns: 1fr;
  }
}
