@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body,
p,
td,
span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
}

html,
body,
section {
  display: flex;
  justify-content: space-between;
}

input:focus,
select:focus {
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
}
