.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  border-bottom: 1px solid #e1e1e1;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 3;
}

.header-icon {
  width: 24px;
  height: 24px;
  margin: 20px;
}

.image {
  width: 74px;
  margin-left: 97px;
}
