.search {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 96px;
  border-bottom: 0.5px solid #000;
  height: 50px;
  background: white;
  z-index: 3;
}

.input-search {
  width: 100%;
  font-family: helvetica;
  font-size: 16px;
  font-weight: 100;
  border: none;
  outline: none;
  padding-left: 0;
}
