.result-search {
  position: fixed;
  top: 131px;
  left: 96px;
  width: 100%;
  padding: 0px;
  height: 50px;
  font-size: 14px;
  font-weight: 100;
  align-content: center;
  z-index: 3;
  background: white;
}
.phone-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 96px;
  position: relative;
  margin-top: 160px;
}

.phone-item {
  border: 0.5px solid #000;
  text-align: center;
  width: 344px;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.phone-item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 257px;
  overflow: hidden;
}

img.phone-item__image {
  width: 80%;
  height: 100%;
  object-fit: cover;
}
img.apple-image {
  width: 70%;
  height: auto;
  object-fit: cover;
}

img.xiaomi-image {
  width: 50%; 
  height: auto;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .phone-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .phone-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .phone-grid {
    grid-template-columns: 1fr;
  }
}
